.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 10px #eaeaea;
    padding: 20px;
    gap: 20px;
}

.form__input {
    border: 3px solid #eaeaea;
    transition: 100ms;
    flex-grow: 1;
    padding: 15px;
}

.form__input:focus {
    transition: 100ms;
    transform: scale(103%);
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    transition: 100ms;
    font-size: large;
    font-weight: 700;
    padding: 15px;
}

.form__button:hover {
    transition: 100ms;
    transform: scale(105%);
    background-color: hsl(180, 100%, 30%);
}

@media (max-width: 767px) {
    .form__input {
        flex-basis: 100%;
    }

    .form__button {
        flex-basis: 100%;
    }
}